page-grades {
    .back {
       // background-color:transparent;
        background-image: url('../assets/imgs/ground.png') !important;
        
}
.toolbar-title-md {
    text-align: center;
    font-size: 25px;
    font-family: cursive ;
    color: rgb(166, 68, 247) !important;
  } 
  .right{
    text-align: right;
  }
  
  #subjects {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#subjects td, #subjects th {
    border: 1px solid #ddd;
    padding: 8px;
    color: rgb(9, 9, 201);
}

#subjects tr:nth-child(even){background-color: transparent;}

#subjects tr:hover {background-color:rgba(0, 0, 0, 0.514);}

#subjects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:transparent;
    color: rgb(9, 9, 201);
}
}
