page-timetable {
    .back {
        //background-color:transparent;
        background-image: url('../assets/imgs/Untitled design.png') !important;
        
}
.toolbar-title-md {
    text-align: center;
    font-size: 25px;
    font-family: cursive ;
    color: rgb(166, 68, 247) !important;
  } 
}
